/* soft resest do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("http://www.ghibli.jp/images/buta1.jpg");
    background-size: 210vh;
    font-family: 'Cinzel Decorative', cursive;
    height: 120vh;
    font-size: 14px;
 }

/* breakpoint*/
/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 600px) {
  body {
      font-size: 18px;
  }

}

  header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu {
      background-color: whitesmoke;
      position: fixed;
      width: 100vw;
      top: 0;
  }
  
  .menu a {
      color: #BDB76B;
      display: block;
      background: whitesmoke;
      padding: 10px 20px;
      transition: background-color 1s, color 1s;
      z-index: 1;
  }

  .menu a:hover {
      background-color: #BDB76B;
      color: whitesmoke;
  }

  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

/* .titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  
  animation: linear 2s animacaoTitulo forwards;
}
*/
@keyframes animacaoTitulo {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

}
  
  .site-title {
    color: #BDB76B;
    text-align: center;
  }

  .site-title {
      font-size: 4em;
      font-family: 'Cinzel Decorative', cursive;
  }
  
  .site-subtitle {
    color: white;
    /* #BDB76B*/
    text-align: center;
    font-family: 'Nixie One', cursive;
    font-size: 1.4em;
    line-height: 2.8em;
  }

  .text {
      color: whitesmoke;
  }

  .sobre {
    background-color: #BDB76B;
    padding: 2em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.sobre a {
  color:#CD853F;
}

.portfolio {
    background-color: #BDB76B;
    padding: 2em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.contato {
  background-color: #BDB76B;
  padding: 2em;
  min-height: 38vh;
  margin-left: auto;
  margin-right: auto;
}

/*@media (min-width: 1200px){
 .sobre,
 .contato,
 .portfolio{
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
 }
}
*/

.sobre h2 {
  color: whitesmoke;
  font-size: 1.4em;
  font-family: 'Nixie One', cursive;
  margin-bottom: 1.5em;
  font-size: 1.8em;
}

.portfolio h2 {
  color: whitesmoke;
  font-size: 1.4em;
  font-family: 'Nixie One', cursive;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.contato h2 {
  color: whitesmoke;
  font-size: 1.4em;
  font-family: 'Nixie One', cursive;
  margin-bottom: 1.5em;
  font-size: 1.8em;
}

.sobre p {
  color: whitesmoke;
  font-family: 'Nixie One', cursive;
  text-indent: 2em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre .avatar{
 float: right;
 margin-left: 2em;
}
.sobre .avatar img{
  float: right;
  margin-left: 2em;
  width: 500px;
  height: 425px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
 }

.portfolio .grid {
  display: grid;
  gap: 3em;
}

@media (min-width: 560px) {
  .portfolio .grid {
  grid-template-columns: 270px 270px;
  }
}
@media (min-width: 880px) {
  .portfolio .grid {
  grid-template-columns: repeat(3, 340px);
  align-content: center;
  justify-content: center;
  height: calc(100vh - 8em - 48px);
  background-color: #BDB76B;
  }
}

.portfolio figure {
  text-align: center
}

.img-portfolio {
  height: 250px;
  width: 350px;
  /* está cortanto a primeira imagem*/
  /*object-fit: cover;*/
  object-position: left bottom;
  transition: transform 500ms;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  
}

/*.img-portfolio:hover{
  transform: scale(1.2);
}*/

.flip-card {
  background-color: whitesmoke;
  perspective: 500px;
}

.card {
  position: relative;
  /*background-color:#CD853F;*/
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-back {
  background-color: whitesmoke;
  height: 250px;
  width: 350px;
  transform: rotateY(180deg);
}

.contato .icons {
  text-align: center;
}

 .contato a {
   color: whitesmoke;
   font-size: 4em;
   transition: text-shadow 1s;
 }

 .contato a:active,
 .contato a:hover {
   text-decoration: none;
   text-shadow: 0px 8px 10px #CD853F;
 }

